

h1{
    font-family: serif;
}
h3{
    font-family: 'Courgette', cursive;
}
h4{
    text-align: center;
    font-family: 'handlee';  
}
h5{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

/* home page */

/* Earning-school-intro */

#Earning-school-intro{
    padding: 5%;
    text-align: center;
}

/* who_we_are */

#who_we_are{
    padding: 5%;
    text-align: center;
}
.courses-list{
    padding: 1% 10%;
    line-height: 3rem;
}

#what_we_do{
    padding: 5%;
    text-align: center;
}

#How_it_work{
    padding: 5%;
    text-align: center;
}
#Mission{
    padding: 5%;
    text-align: center;
}
#Vission{
    padding: 5%;
    text-align: center;
}
#Services{
    padding: 5%;
    text-align: center;
}


/* Testimonial Section */
#testimonials{
    text-align: center;
    background-color: #EAF6F6;
    color: black;
    margin: 3% 0% 5%;
}
.headig-contact-instant{
    padding: 1%;
}
.testimonial-image{
   border-radius: 100%;
   margin: 19px;
   border-radius: 100%;
}

/* registration-form */

#registration-form{
    padding: 5% 10%;
    margin: 2%;
    line-height: 2rem;
    font-size: larger;
    font-weight: bold;
}
/* live-practical-courses */
#courses-details{
    text-align: center;
    padding: 1%;
}

.courses{
  padding-bottom: 5%;
  margin: 1%;
}
.course_para{
    text-align: left;
}

/* live-practcal-courses-next-pages */
#live-practcal-courses-next-pages{
    text-align: center;
    padding: 5%;
}

/* full_courses_view */
#full-courses-view{
    padding: 5%;
    text-align: center;
}
.full-courses-heading{
    font-size: 2rem;
}
#overview{
  padding: 1%;
}
#will-you-found{
  padding: 1%;
}
#discription{
    padding: 1%;
}

/* courses-topic */

#courses-topic{
    text-align: left;
    padding: 2% 15%;
}
.topic{
    text-align: left;
}


/* payment */
#payment{
    text-align: center;
    padding: 5% 10%;
}
.bank-details{
    padding: 3% 3% 3%;
}

/* contact  */
/* team */
#team{
    text-align: center;
    background-color: #ef1872;
    color: #fff;
    padding-top: 3%;
}
#contact{
  padding: 5% 15%;
  background-color:#EAF6F6;
}
#contact-instant{
    padding: 3%;
    background-color:#EAF6F6;
}
.headig-contact-instant{
    padding: 3%;
    text-align: center;
}
.instant{
    text-align: center;
}


/* Pricing section */
#pricing{
    background-color: #fff;
    padding: 100px;
    text-align: center;
}
.pricing-colom{
    padding: 3% 2%;
}
.price-plan{
    text-align: left;
    font-size: 1.2rem;
    margin: 1%;
}

/* Business Deal Pages */

/* personal-info */
#personal-info{
    padding: 1% 20%;
    text-align: center;
}

/* form_for_learners */
#form_for_learners{
    padding: 3% 15% 3%;
    line-height: 3rem;
}

/* form_for_mentors */
#form_for_mentors{
    padding: 3% 15% 3%;
    line-height: 3rem;
}

#Business-deal-with-mentors{
    padding: 2% 3%;
}

/* Business Deal of Courses with Mentors */
.form-deal{
    padding: 2% 2% 2%;
    background-color: rebeccapurple;
    line-height: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
}

/* footer */
#footer{
    width: 100%;
    background-color: black;
}
.footer-bar{
    text-align: center;
    color: white;
    padding: 1%;
}
.navbar-footer-link{
    color: white;
}
.social-media{
    margin: 2%;
}
.instant-contact{
    margin: 2%;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
    .navbar{
        width: 100%;
    }
    #Earning-school-intro{
        padding: 10px;
        text-align: center;
    }
    .Earning-school-intro-heading{
        font-size: larger;
    }
    .Earning-school-intro-video{
        width: 100%;
        height: 100%;
    }
    .home-image{
        width: 100%;
        height: 300px;
    }
    .home-image-sub{
        rotate: 30deg;
        width: 100%;
    }
    .home-image-lm{
        width: 100%;
        height: 300px;
    }
    .mentors{
        padding-top: 10%;
    }
    .courses-list{
        line-height: normal;
        padding: 0%;
    }
    .courses-example-text{
        font-size: medium;
    }
    .vission-heading{
        font-size: larger;
    }
    /* services */
    .services-text{
        font-size: 1.2rem;
    }

    /* testimonials */
    .customer-list{
        height: 50%;
    }
    .testimonial-image{
        height: 50%;
    }
    .subscribe-heading{
      font-size: 1rem;
    }
    .statement{
        font-size: 0.5rem;
    }

    /* live-practical-course */
    .live-practical-intro-video{
        width: 100%;
    }
    .courses-details-heading{
        font-size: larger;
    }
    .courses{
        padding-bottom: 10%;
    }
    .courses-heading{
        font-size: larger;
    }

    /* full-cousese */
    .full-courses-heading{
      font-size: medium;
    }
    .full-courses-video{
        width: 100%;
        height: 100%;
    }
    .courses-topic-heading{
        font-size: larger;
    }
    .topic{
        font-size: x-large;
    }
    #courses-topic{
        padding: 2% 1%;
    }
    #pricing{
        padding: 10px;
        text-align: center;
    }
    .pricing-colom{
        padding: 5% 1%;
    }
    .pricing-heading{
        font-size: large;
    }
    #full_courses_view{
        padding: 10px;
        text-align: center;  
    }
    .full-courses-col{
        padding: 3% 1%;
    }
    /* Registration Form */
    .pricing-list{
        padding-bottom: 10%;
    }
    .form-heading{
        font-size: large;
    }
    .note-text{
        font-size: 1.5rem;
    }

    /* Payment */
    .payment-heading-1{
        font-size: x-large;
    }
    .payment-heading-2{
        line-height: 2rem;
    }
    .class-action-btn{
        padding: 1% 3%;
    }

    /* contact */
    .headig-contact-instant{
        font-size: 1.5rem;
    }
    .team-member{
        height: 50%;
    }
    .owner-title{
        font-size: 1.5rem;
        font-weight: 2rem;
        line-height: normal;
        padding-bottom: 2%;
    }
}    
