h1, h2, h3, h4{
    text-align: center;
    font-family: Monstserr;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3rem;
}
.btn{
    text-align: center;
}

/* home page */

/* Earning-school-intro */
#Earning-school-intro{
    padding: 5%;
    text-align: center;
}

/* who_we_are */
#who_we_are{
    padding: 5%;
    text-align: center;
}
#what_we_do{
    padding: 5%;
    text-align: center;
}

#How_it_work{
    padding: 5%;
    text-align: center;
}
#Mission{
    padding: 5%;
    text-align: center;
}
#Vission{
    padding: 5%;
    text-align: center;
}
#Services{
    padding: 5%;
    text-align: center;
}

/* subscribe */

#subscribe{
    padding: 5%;
}

/* Sign_up */
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
.btn-google{
    background-color: honeydew;
}
 

/* courses-details */
#courses-details{
    text-align: center;
    padding: 4%;
}
.courses{
    padding-top: 2%;
}
.course_para{
    text-align: left;
}

/* live-practcal-courses-next-pages */
#live-practcal-courses-next-pages{
    text-align: center;
    padding: 5%;
}


/* full_courses_view */
#full_courses_view{
    padding: 5%;
    text-align: center;
}
/* courses-topic */

#courses-topic{
    text-align: left;
    padding: 2% 15%;
}
.topic{
    text-align: left;
}


/* Pricing section */
#pricing{
    background-color: #fff;
    padding: 100px;
    text-align: center;
}
.pricing-colom{
    padding: 3% 2%;
}



/* form_for_learners */
#form_for_learners{
    padding: 3% 15% 3%;
    line-height: 3rem;
}

/* form_for_mentors */
#form_for_mentors{
    padding: 3% 15% 3%;
    line-height: 3rem;
}

/* Testimonial Section */
#testimonials{
    text-align: center;
    background-color: #ef1872;
    color: #fff;
    margin-top: 4%;

}
.testimonial-image{
   border-radius: 100%;
   margin: 19px;
}
#press{
    background-color: #ef1872;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
   width: 25%;
   margin: 20px 15px;
}
.carousel-item{
    padding: 5% 15%;
    height: 650px;
}

.press-logo{
    width: 15%;
    height: 150px;
}

/* payment */
#payment{
    text-align: center;
    padding: 5% 10%;
}
.bank-details{
    padding: 3% 3% 3%;
}

/* contact  */
/* team */
#team{
    text-align: center;
    background-color: #ef1872;
    color: #fff;
    padding-top: 3%;
}
#contact{
  padding: 5% 15%;
  background-color:#EAF6F6;
}
#contact-instant{
    padding: 3%;
    background-color:#EAF6F6;
}
.headig-contact-instant{
    padding: 3%;
    text-align: center;
}
.instant{
    text-align: center;
}

/* success */
#succses-list{
    padding: 5% 2% 3%;
}
.success-items{
    padding-bottom: 3%;
}

/* footer */
#footer{
    width: 100%;
    height: 350px;
    background-image: url('image/businessman-stand-on-building.jpg');
}
.footer-btn{
    margin: 2%;
    text-align: center;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
    .navbar{
        width: 100%;
    }
    #Earning-school-intro{
        padding: 10px;
        text-align: center;
    }
    .Earning-school-intro-heading{
        font-size: larger;
    }
    .Earning-school-intro-video{
        width: 100%;
        height: 100%;
    }
    .home-image{
        width: 100%;
        height: 300px;
    }
    .home-image-lm{
        width: 50%;
        border-radius: 100%;
    }
    /* services */
    .services-text{
        font-size: 1.2rem;
    }
    
/*     subscribe*/
    #subscribe{
    padding: 1%;
    }
        .subscribe-text{
            font-size: larger;
    }

    /* testimonials */
    .customer-list{
        height: 50%;
    }
    .testimonial-image{
        height: 50%;
    }
    .statement{
        font-size: 1.2rem;
    }
    .press-logo{
      height: 100Px;
      width: 50%;
      border-radius: 100%;
    }

    /* live-practical-course */
    .live-practical-intro-video{
        width: 100%;
    }
    .courses{
        padding-bottom: 10%;
    }
    .courses-heading{
        font-size: larger;
    }

    /* full-cousese */
    .full-courses-heading{
      font-size: medium;
    }
    .full-courses-video{
        width: 100%;
        height: 100%;
    }
    .courses-topic-heading{
        font-size: larger;
    }
    .topic{
        font-size: x-large;
    }
    #courses-topic{
        padding: 2% 1%;
    }


    #pricing{
        padding: 10px;
        text-align: center;
    }
    .pricing-colom{
        padding: 5% 1%;
    }
    .pricing-heading{
        font-size: large;
    }
    #full_courses_view{
        padding: 10px;
        text-align: center;  
    }
    .full-courses-col{
        padding: 3% 1%;
    }


    /* Registration Form */
    .pricing-list{
        padding-bottom: 10%;
    }
    .form-heading{
        font-size: large;
    }
    .note-text{
        font-size: 1.5rem;
    }

    /* Payment */
    .payment-heading-1{
        font-size: x-large;
    }
    .payment-heading-2{
        line-height: 2rem;
    }
    .class-action-btn{
        padding: 1% 3%;
    }

    /* contact */
    .headig-contact-instant{
        font-size: 1.5rem;
    }
    .team-member{
        height: 50%;
    }
    .owner-title{
        font-size: 1.5rem;
        font-weight: 2rem;
        line-height: normal;
        padding-bottom: 2%;
    }
    /* #footer */

    .footer-heading{
        font-size: large;
    }
}
